/* General */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: black;
  background-color: white;
  text-align: center;
}

/* Header */
header {
  background: #007bff;
  padding: 10px;
}

header .logo img {
  width: 150px;
}

/* Hero Section */
.hero {
  padding: 40px 20px;
  background: #e6f0ff;
}

.hero h1 {
  font-size: 2.5em;
  color: #007bff;
}

.hero p {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}


/* Carrusel */
.carousel {
  position: relative;
  width: 20%; /* Ajusta el tamaño del carrusel */
  margin: 40px auto;
  overflow: hidden; /* Oculta las imágenes fuera del carrusel */
  border: 2px solid #007bff;
  border-radius: 10px;
}

.carousel-container {
  display: flex; /* Asegura que las imágenes se alineen horizontalmente */
  transition: transform 0.4s ease-in-out; /* Transición suave al mover las imágenes */
}

.carousel-slide img {
  width: 100%; /* Hace que las imágenes ocupen todo el ancho del contenedor */
  flex-shrink: 0; /* Evita que las imágenes se encojan */
}

/* Botones del carrusel */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente los botones */
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%; /* Forma circular para los botones */
}

.carousel-button.prev {
  left: 10px; /* Botón "prev" a la izquierda */
}

.carousel-button.next {
  right: 10px; /* Botón "next" a la derecha */
}

.carousel-button:hover {
  background: #007bff; /* Cambia el fondo al pasar el mouse sobre los botones */
}


/* Download Section */
.download {
  padding: 40px 20px;
  background: #cce5ff;
}

.download img {
  width: 200px;
  margin-top: 10px;
}

.download .button {
  background: #007bff;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

/* Footer */
footer {
  background: #007bff;
  color: white;
  padding: 10px 0;
}

  /* Estilo para la sección de descripción */
.description {
  padding: 20px;
  background-color: #f9f9f9; /* Fondo claro */
  color: #333; /* Color de texto oscuro */
  font-size: 1.2em; /* Tamaño de fuente un poco mayor */
  line-height: 1.6; /* Espaciado entre líneas */
  text-align: center; /* Texto centrado */
  border-radius: 8px; /* Bordes redondeados */
  max-width: 80%; /* Ancho máximo */
  margin: 20px auto; /* Margen superior e inferior */
}
